body {
    font-family: Verdana, sans-serif;
    background-color: #d3d3d3;
}

.header {
    background-color: #84f5c195;
    color: #000000;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 8px;
}

h1 {
    text-align: center;
}

h1.header {
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 10px;
}

.gif {
    height: auto;
    width: 400px;
    text-align: center;
    margin-bottom: 20px;
}

.img {
    text-align: center;
}

.intro {
    font-weight: bold;
}

.body {
    font-size: 24px;
    width: 600px;
    margin: 0 auto;
}

.font-size-content,
.body ol {
    font-size: 20px;
}

.link {
    color: #07e8b4;
    background-color: #444747;

}

/*.recipe-index {
    display: inline-block;
    margin: 0 20px; 
}*/

#external-link {
    text-align: right;
    font-size: 18px;
    margin-top: 100px;
    padding: 0;
}

.card {
    background-color: #d2fae8;
    width: 1000px;
    margin: 0 auto;
    padding: 0px 10px;
    border: 2px #444747 dotted;
}

.recipe-img {
    height: auto;
    width: 275px;
}

.subtitle {
    font-size: 26px;
    font-weight: lighter;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.description {
    background-color: #f2ef9d90;
}

.recipe-content {
    background-color: #cafaaf90;
}

ul li ul li {
    font-style: italic;
}

.description,
.font-size-content {
    text-align: justify;
}